</head>
<body>
  <!-- Navigation Bar-->
  <header id="topnav">
    <div class="navbar-custom">
      <div class="container">
        <div id="navigation">
          <div class="topbar-left">
            <a class="logo">
              <img src="../assets/images/eusaga.jpg" class="img-responsive m-r-3" style="width: 60px; height: 60px;" >
            </a>
          </div>
          <!-- Navigation Menu-->
          <ul class="navigation-menu">
            <li>
              <a id="dashboard" href="#"><i class="zmdi zmdi-view-dashboard"></i> <span> Dashboard </span> </a>
            </li>

            <li>
              <a id="listado" href="#"><i class="zmdi zmdi-view-dashboard"></i> <span> Listado</span> </a>
            </li>

            <li>
              <a id="levantamiento" href="#"><i class="zmdi zmdi-view-dashboard"></i> <span> Levantamiento </span> </a>
            </li>

            <li>
              <a id="sincronizar" href="#"><i class="zmdi zmdi-view-dashboard"></i> <span> Sincronizar </span> </a>
            </li>

            <li>
              <a href="/levantamiento"><i class="zmdi zmdi-view-dashboard"></i> <span> Configuracion </span> </a>
            </li>

            <li class="nav-item dropdown notification-list m-l-2">
              <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
              aria-haspopup="false" aria-expanded="false">
              <img src="../assets/images/user.png" alt="user" class="img-circle m-t-1"></a>
              <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                <div class="dropdown-item noti-title">
                  <h5 class="text-overflow"><small>Bienvenido!!</small> </h5>
                </div>

                <a id="botonCerrar" href="#" class="dropdown-item notify-item">
                  <i class="zmdi zmdi-power"></i> <span>Cerrar Sesion</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <!-- End Navigation Bar-->
