<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App Favicon -->
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

  <!-- App title -->
  <title>SDAAF - EUSAGA Logistica</title>

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="../assets/plugins/morris/morris.css">
  <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
  <script src="../assets/js/modernizr.min.js"></script>
